# Dependencias
node_modules

# Archivos de build y producción
/build
/dist

# Archivos de entorno y secretos (¡MUY IMPORTANTE!)
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store